[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
better-exceptions = "*"

[packages]
"discord.py" = "*"
pendulum = "*"

[requires]
python_version = "3.9"

[scripts]
bot = "python -m dreaf"
